main{
    position: absolute;
    top: 50px;
    bottom: 50px;
    right: 0;
    left: 0;
    display: grid;
    grid-template-columns: 70% 30%;
    grid-row: 10px;
    overflow: hidden;
}

main div{
    display: grid;
    grid-template-rows: 45% 45% 10%;
    column-gap: 10px;
    overflow: hidden;
    background-color: #F2F2F2;
    color: #172601;
}

#Header2 h1{
    position: absolute;
    z-index: 10;
    top: 0;
    font-weight: 800;
    font-size: 35px;
    text-align: center;
    color: white;
    width: 350px;
    padding: 15px 15px;
    text-shadow: 4px 5px 10px #342821;
}

.slideshow{ 
    z-index: 100; 
    top: 0px;
    left: 0px;
    display: flex;
    align-items: stretch;
}

.slideshow img{ 
    object-fit: cover;
    object-position: 0% 60%;
    width: 70%;
    height: 45%;
	position: absolute;
    opacity: 0;
    animation: slideShowAnimation 25s linear infinite; 
}

.slideshow img:nth-child(2) { 
    animation-delay: 5s; 
}
.slideshow img:nth-child(3) { 
    animation-delay: 10s; 
}
.slideshow img:nth-child(4) { 
    animation-delay: 15s; 
}
.slideshow img:nth-child(5) { 
    animation-delay: 20s; 
}

@keyframes slideShowAnimation { 
    0% { opacity: 0; animation-timing-function: ease; }
    5% { opacity: 1; animation-timing-function: ease; }
    15% { opacity: 1 }
    25% { opacity: 0 }
}

#Nav1{
    height: auto;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 0;
    grid-template-rows: 50px max-content ;
    height: 100%;
    overflow: auto;
    z-index: 1; 
}

#Nav1 h1{
    font-size: 25px;
    font-weight: 600;
    padding: 10px;
}

#Nav1 .container-berita{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    margin: 0 10px 10px 10px;
    overflow: auto;
    height: 100%;
}

#Nav1 .container-berita a{
    background: rgba(151, 166, 38, 0.5);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(86, 132, 191, 0.3);
    display: grid;
    border-radius: 10px;
    text-decoration: none;
}

#Nav1 .container-berita a img{
    width: 100%;
    border-radius: 15px;
    box-sizing: border-box;
    padding: 10px 10px 10px 10px;
}


#Nav1 .container-berita a h3{
    padding: 0px 7px 7px 7px;
    color: #172601;
    font-weight: bolder;
    text-align: justify;
}

#Section{
    min-height: 200px;
    background-color: #F2F2F2;
    z-index: 1; 
    overflow: auto;
    color: #172601;
}

#Section h3{
    font-weight: 700;
    font-size: 22px;
    padding: 10px;
}

#Section h5{
    text-align: justify;
    padding: 5px 10px;
}

#Section form{
    padding: 0 10px;
}

#Section label{
    padding-bottom: 10px;
    font-weight: 500;
}

#Section input{
    padding: 5px;
    border-radius: 5px;
}

.Button{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: none;
    padding: 10px 0;
    height: 30px;
    font-weight: bold;
}

#Section .Button button{
    background-color: #9DA65D;
    border-radius: 5px;
}

#Nav2{
    margin: 5px;
    z-index: 1; 
}

#Section2{
    display: flex;
    justify-content: space-around;
    padding: 5px;
    z-index: 1; 
}

#Section2 a{
    font-size: 15px;
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    color: #172601;
}

#Section2 img{
    height: 100%;
    border-radius: 50%;
}

#Section2 h3{
    font-weight: bold;
    font-size: 17px;
}
