main{
    position: absolute;
    top: 50px;
    bottom: 50px;
    right: 0;
    left: 0;
    display: grid;
    grid-template-rows: auto auto;
    grid-row: 10px;
    overflow: hidden;
}

main div{
    display: grid;
    grid-template-columns: 80% 20%;
    column-gap: 10px;
    overflow: hidden;
    background-color: aqua;
}

#Header2{
    display: flex;
    align-items: flex-end;
    height:inherit;
}

#Header2 img{
    width: 100%;
}

section{
    min-height: 200px;
}

section h3{
    font-weight: 700;
    font-size: 22px;
    padding: 10px;
}

section h5{
    text-align: justify;
    padding: 10px;
}