nav{
    height: 50px;
    width: 100%;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgba(157, 166, 93, 0.6);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    color: #172601;
    z-index: 10;
}

nav .judul a{
    margin-left: 5vw;
    font-size: 30px;
    font-family: 'Caveat', cursive;
    font-weight: bolder;
    text-decoration: none;
    color: #172601;
}

nav #Header1{
    margin-right: 2vw;
    display: flex;
    align-items: center;
    gap: 3vw;
}

nav #Header1 a{
    font-weight: 600;
    font-size: 17px;
    text-decoration: none;
    color: #172601;
}

nav #Header1 a:hover{
    color: #4C5939;
}

.on-page{
    border-bottom: #F2F2F2 3px solid;
    color: #F2F2F2 !important;
}

.ganjelan{
    height: 50px;
    width: 100%;
}

.responsive{
    padding: 10px;
    box-sizing: border-box;
    visibility: hidden;
    position: absolute;
    padding-right: 20px;
    cursor: pointer;
}

.responsive img{
    height: 40px;
    padding-top: 10px;
}

.close{
    display: none;
}

@media screen and (max-width : 745px) {
    .responsive{
        visibility: visible;
        position: static;
    }

    #Header1{
        position: fixed;
        flex-direction: column;
        background: rgba(157, 166, 93, 0.96);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(7.9px);
        -webkit-backdrop-filter: blur(7.9px);
        width: 100%;
        top: 50px;
        height: 100Vh;
        transform: translateX(100%);
        transition: transform 0.3s ease-out;
    }
    
    #Header1 a{
        margin: 6.5vh 0;
    }
    
    #Header1:target{
        transform: translateX(0);
    }

    .close{
        position: absolute;
        background: #C2C89D;
        top: -65px;
        right: -10px;
        padding: 20px 30px 0 0;
        margin: 0 !important;
        display: inline;
    }
    
    .close img{
        height: 40px;
    }

    @keyframes animasiNavbarResponsive {
        from{
            right: -105%;
        }
        to{
            right: -10px;
        }
    }
}