nav{
    height: 50px;
    width: 100%;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgba(157, 166, 93, 0.6);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    color: #172601;
    z-index: 10;
}

nav .judul{
    margin-left: 5vw;
    font-size: 30px;
    font-family: 'Caveat', cursive;
    font-weight: bolder;
}

nav #Header1{
    margin-right: 2vw;
    display: flex;
    align-items: center;
    gap: 3vw;
}

nav #Header1 a{
    font-weight: 600;
    font-size: 17px;
    text-decoration: none;
    color: #172601;
}

nav #Header1 a:hover{
    color: #4C5939;
}

.on-page{
    border-bottom: #F2F2F2 3px solid;
    color: #F2F2F2 !important;
}

.ganjelan{
    height: 50px;
    width: 100%;
}